body {
  background-color: #4843D2;
}

.logo {
    width:26%;
    margin-top: -6px;
    height: 81px;


}

.sorry {
  margin-top: 7%;
  width: 40%;

}

.navbar {
  height: 86px;
  background-color: #3430A5;
}

.nav-item {
  color: white;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 34px;
  margin-right: 12px;
}

#items {

  color:white;

}
